<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ticket App V3</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
</head>

<body>
    <h1>Ticket App V3</h1>
    <b>Hello World</b>
    <div hx-ext="client-side-templates">
        <button hx-get="/login" hx-swap="innerHTML" hx-target="#users_content">
            Click Me
        </button>

        <p id="users_content">Start</p>

    </div>
</body>

</html>
